.App{
  width: 400px;
  height: 350px;
   justify-content: center;
   flex-wrap: wrap;
   border: 2px solid black;
   margin: auto;
   margin-top:40px;
   border-radius: 5%;
   box-shadow: 2px 2px 5px 5px rgb(218, 211, 211);
   background-color: rgb(251, 251, 245);


}
 